// Installed conda path
conda = "/home/sabramov/miniconda3/envs/super-index"

outdir = "$launchDir/output"


// Metadata
samples_file = '/net/seq/data2/projects/ENCODE4Plus/figures/adding_additional_datasets/4078_Index/nextflow_test/samples_file.txt'
samples_order = '/net/seq/data2/projects/sabramov/SuperIndex/hotspot3/w_babachi_new.v17/index.all_chroms/output/samples_order.txt'
dhs_masterlist = '/net/seq/data2/projects/sabramov/SuperIndex/hotspot3/w_babachi_new.v17/index.all_chroms/output/masterlist_DHSs_all_chunks.Altius.annotated.bed'
binary_matrix = '/net/seq/data2/projects/sabramov/SuperIndex/hotspot3/w_babachi_new.v17/index.all_chroms/output/raw_matrices/binary.index.raw.matrix.npy'


